@import 'colours.css';
@import 'fonts.css';

#dpContainer {
    height: 490px;
    background-color: #383a59;
}

#dpTitle {
    text-align: center;
    color: var(--green);
    font-family: Abril Text Bold;
    font-size: 72px;
    font-weight: 700;
    padding-top: 80px;
    margin: 0;
}

#box {
    text-align: center;
    height: 232px;
    max-width: 400px;
    background-color: var(--background);
    border-radius: 10px;
    padding: 0 45px;
    margin: 0 auto;
}

#boxText1 {
    font-family: Source Sans Pro Bold;
    color: white;
    font-size: 38px;
    font-weight: 700;
    margin: 0;
    padding-top: 50px;
}

#boxText2 {
    color: #8d8e94;
    font-size: 20px;
    font-family: Source Sans Pro Light;
    font-weight: 300;
    margin: 0;
    margin-bottom: 25px;
}

#boxText3 {
    font-size: 18px;
    font-family: Source Sans Pro Regular;
    font-weight: 300;
    background-color: var(--green);
    border-radius: 4px;
    max-width: 145px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}

#boxText3:hover {
    background-color: #48d06d;
}