@font-face {
    font-family: Abril Text Bold;
    src: url(../res/fonts/Abril_Text_Bold.otf);
}

@font-face {
    font-family: Source Sans Pro Regular;
    src: url(../res/fonts/SourceSansPro-Regular.ttf);
}

@font-face {
    font-family: Source Sans Pro Light;
    src: url(../res/fonts/SourceSansPro-Light.ttf);
}

@font-face {
    font-family: Source Sans Pro Bold;
    src: url(../res/fonts/SourceSansPro-Bold.ttf);
}
