@import 'colours.css';
@import 'fonts.css';

#footerCont {
    height: 105px;
    background-color: var(--background);
    padding-top: 75px;
}

#footerCont>p {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Source Sans Pro Light;
    font-size: 1.3em;
    font-weight: 300;
    color: white;

    /* position: absolute; */
}

#heart {
    color: var(--pink);
    font-size: 1.4em;
    position: relative;
    display: inline-block;
    transform: scale(0.9);
    
}

.heartAnimate {
    animation: heartBeat .5s linear infinite alternate-reverse;
}

@keyframes heartBeat {
    100% {
        transform: scale(1.1);
    }
}

#author {
    color: var(--green);
}

#license {
    color: var(--orange);
}