@import 'colours.css';
@import 'fonts.css';

.container {
    background-color: var(--background);
    margin: 0;

    width: 100%;
    height: 60px;

    display: flex;
    justify-content: space-between;
}

.leftContent {
    font-family: Abril Text Bold;
    font-size: 24px;
    color:var(--title);
    font-weight: 400;
    padding-left: 15px;
    padding-top: 20px;
    transition: all 0.3s linear;
}

.leftContent:hover {
    color: var(--purple);
    cursor: pointer;
}

.rightContent {
    display: flex;
    justify-content: space-evenly;
    font-family: Source Sans Pro Regular;
    font-size: 20px;
    color: var(--title);

    margin-top: -2px;
}

.rightContent>* {
    margin-left: 20px;
    transition: color 0.3s linear;
    border-bottom: 2px transparent currentColor; /* Need this otherwise get weird transition */
    margin-bottom: 15px;
}

.rightText:hover{
    color:var(--purple);
    border-bottom: 2px solid currentColor;
    cursor: pointer;
}

.draculaProText {
    font-size: 18px;
    line-height: 1.6;

    color: black;
    background-color: var(--green);
    border-radius: 5%;

    padding-left: 20px;
    padding-right: 20px;
    
    margin-top: 10px;
    margin-right: 20px;
    height: 45px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;

    transition: all 0.3s linear;
}

.draculaProText:hover {
    background-color: rgba(80,250,123,.8);
    cursor: pointer;
}
