@import 'colours.css';
@import 'fonts.css';

#background {
    height: 1000px;
    background-color: var(--background);
    margin: 0;
    padding: 0;
    transition: height 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s
}

#searchArea {
    padding-top: 80px;
    display: flex;
}
@media only screen and (min-width: 920px)  {
    #searchArea {
        justify-content: center;
        margin-bottom: 85px;
    }
}

@media only screen and (max-width: 920px) {
    #searchArea {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #searchArea>input[type=text] {
        width: 340px;
        margin-bottom: 20px;
        margin-top: 10px;
    }
}

#searchArea>p {
    color:white;
    font-family: Source Sans Pro Regular;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    line-height: 37px;
}

#searchArea>input[type=text] {
    border: 1px solid var(--purple);
    border-radius: 4px;
    background: none;
    height: 36px;
    width: 320px;
    color:white;
    font-family: Source Sans Pro Regular;
    font-size: 20px;
    font-weight: 400;
    padding-left: 20px;
    padding-bottom: 0;
    margin-left: 35px;
    margin-right: 35px;
}

#searchButtons>button {
    border-top: 1px solid #bd93f9;
    border-bottom: 1px solid #bd93f9;
    border-left: none;
    border-right: none;
    background: none;
    color: #9ba1ab;
    font-family: Source Sans Pro Regular;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    height: 39px;
    padding: 5px 20px;
    transition: color ease-in 0.2s;

    color: white;
}

.focused {
    background-color: var(--purple);
    color:black;
}

.progContainer {
    transition: transform ease-in-out 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    will-change: transform;
    width: 360px;
    cursor: pointer;
}

.progImgContainer {
    display: flex;
    justify-content: center;
}

.progImage {
    width: 200px;
    height: 200px;
}

.progText {
    font-family: Abril Text Bold;
    font-size: 36px;
    font-weight: 700;
    color: #bcc2cd;
    margin: 20px 0 0;
    text-align: center;
    transition: color .3s linear;
}

#programContainer {
    margin: 0 auto;
    max-width: 930px;
    padding:0;
    height: 1000px;
}