@import 'colours.css';
@import 'fonts.css';

#container {
    padding-top: 80px;
    text-align: center;
    height: 510px;
    background-color: #383a59;
}

#title {
    font-size: 72px;
    font-family: Abril Text Bold;
    font-weight: 400;
    color: var(--purple);
    margin-top: 20px;
    margin-bottom: 0px;
}

#draculaThemeFor {
    display: flex;
    justify-content: center;
    font-family: Source Sans Pro Regular;
    color: white;
    font-size: 28px;
    font-weight: 400;
}

#draculaThemeFor>p {
    margin:0;
}

#draculaThemeFor>p::after {
    white-space: pre;
    content: " ";
}

#githubInfo {
    display: flex;
    justify-content: center;

    font-family: Source Sans Pro Regular;
    color: white;

    margin-top: 10px;
}

#githubInfo>* {
    margin-left: 20px;
}

.forksandstars {
    display: flex;
    justify-content: space-between;

    margin-top: 30px;
}

.forksandstars>* {
    padding: 0;
    margin: 0;
}

.forksandstars>p::before {
    white-space: pre;
    content: " ";
}