@font-face {
  font-family: Roboto Light;
  src: url("res/fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: Roboto Medium;
  src: url("res/fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Poppins Regular";
  src: url("res/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins Extra Light";
  src: url("res/fonts/Poppins-ExtraLight.ttf");
}

@font-face {
  font-family: "Poppins Semi Bold";
  src: url("res/fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Vera Italic";
  src: url("res/fonts/Vera-Italic.ttf");
}

@font-face {
  font-family: "Liberation Sans";
  src: url("res/fonts/LiberationSans-Regular.ttf");
}

@font-face {
  font-family: "Open Sans Regular";
  src: url("res/fonts/OpenSans-Regular.ttf");
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.topBarContainerOuter {
  width: 100%;
  background: white;
  border-top: 40px solid rgb(77, 196, 207);
  position: fixed;
  z-index: 2000;
  top: 0px;
}

.topBarContainerInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 130px;
  margin-right: 130px;
  margin-bottom: 30px;
  padding: 0;
}

.topBarItem {
  display: block;
  flex: 0 1 auto;
  color: #808d96;
  font-family: Roboto Light;
  font-size: 18px;
  text-align: center;
  margin-top: 15px;
  transition: color 0.5s ease;
  padding: 20px;
}

.topBarItem:hover {
  color: rgb(77, 196, 207);
  cursor: pointer;
}

.dropdown {
  background-color: white;
  position: fixed;
  z-index: 2000;
  width: 250px;
  height: 65px;
  margin-left: 70px;
  opacity: 0;
  transition: all 0.5s ease;
  border-top: 1px solid rgba(128, 141, 150, 0.5);

  padding-top: 15px;
}

.dropdownText {
  margin-left: 15px;
  line-height: 24px;
  font-size: 14px;
  font-family: Roboto Medium;
  color: rgb(128, 141, 150);
}

.topLogo {
  max-height: 60px;
  margin-top: 20px;
}

.mainBody {
  top: 170px;
  margin-left: 40px;
  margin-right: 40px;
  position: relative;
}

.promotions {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
}

.promotion {
  width: 33%;
  height: 275px;
  text-align: center;
}

.promotion div {
  margin-top: 35px;
}

.promotionText {
  padding: 0;
  margin: 0;
}

.promotionTop {
  font-family: Poppins Regular;
  font-weight: 600;
  font-size: 26px;
}

.promotionPromo {
  font-family: Poppins Extra Light;
  font-weight: 200;
  font-size: 50px;
}

.promotionFlavour {
  font-family: Poppins Regular;
  font-weight: 600;
  font-size: 19px;
}

.promotionBuy {
  font-family: Poppins Regular;
  font-size: 16px;
  display: flex;
  justify-content: space-around;
}

.promotionBuyBackground {
  color: white;
  width: 110px;
  height: 40px;
  margin: -20px !important;
  border-radius: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.bnb {
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.bnb div {
  background-color: #f6f5f5;
}

.bnb div > img {
  width: 100%;
}

.gymImages {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  width: 100%;
}

.gymImages > div {
  width: 25%;
  height: 450px;
  background-position: 50% 50%;
  background-size: cover;
  margin-right: 15px;
}

.quoteContainer {
  height: 200px;
  background-color: #4dc4cf;

  margin-top: 15px;
  text-align: center;
  width: 100%;
  overflow-x: hidden;
}

.quoteContainer > div {
  padding-left: 25%;
  width: 50%;
}

.quoteButtons {
  display: flex;
  justify-content: center;
}

.quoteButtons > div {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 10px;
  border-radius: 50%;
  transition: background-color 1s ease;
}

.quote {
  padding-top: 40px;
  height: 50%;

  transition: transform 1s ease;
}

.quote > p {
  font-size: 18px;
  color: white;
  font-family: Vera Italic;
  line-height: 28.8px;
  padding: 0;
  margin: 0;
}

.bottomImage {
  width: 100%;
  background-size: 100%;
  height: 955px;

  margin-top: 15px;
  background-position: 50% 50%;
}

.social {
  width: 100%;
  margin-top: 15px;
  height: 200px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
}

.social > p {
  font-family: Poppins Semi Bold;
  font-size: 35px;
  line-height: 43.75px;
  margin-left: 30px;
  margin-top: 0;
}

.contactMap {
  margin-top: 15px;
  width: 100%;
}

@media only screen and (min-width: 100) {
  .contactMap {
    display: flex;
  }

  .contact > * {
    width: 50%;
    margin-right: 55px;
  }
}

/* @media only screen and (max-width: 100) {
  .contact {
    margin-bottom: 15px;
  }
} */

.contact {
  height: 640px;
  background-color: #72808a;
  padding-top: 120px;

  color: white;
  text-align: center;
  font-size: 18px;
  font-family: Roboto Light;
  line-height: 28px;
}

.contact > div > .heavy {
  font-family: Roboto Medium;
}

.contactIcons {
  display: flex;
  justify-content: space-around;
  margin-left: 22%;
  margin-right: 22%;
}

.contactIcon {
  font-size: 22px;
  min-width: 2em;
  min-height: 2em;
  background-color: rgb(51, 51, 51);
  border-radius: 50%;
  margin-top: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.bottomInfo {
  margin-top: 90px;
  padding-bottom: 145px;
  display: flex;
  justify-content: space-between;
}

.bottomText {
  font-size: 25px;
  line-height: 43.75px;
  font-family: Poppins Semi Bold;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 2000;
  display: flex;
  justify-content: space-between;
}

.footer > * {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 15px;
}

.cookies {
  font-family: Liberation Sans;
  font-size: 14px;
}

.cookiesLeft {
  color: black;
  margin-top: 20px;
}

.cookiesLeft > span {
  color: rgb(77, 196, 207);
}

.cookiesRight {
  background-color: rgb(77, 196, 207);
  border-radius: 5px;
  width: 100px;
  height: 30px;
  text-align: center;
  margin-top: 15px;
}

.cookiesRight :hover {
  cursor: pointer;
}

.cookiesRight > span {
  vertical-align: middle;
  padding-top: 10px;
}

.footerText {
  width: 100%;
  background-color: white;
  font-family: Open Sans Regular;
  font-size: 10px;
  padding-top: 10px;
  float: left;
  margin-left: 20px;
}

.footerText > span {
  padding-top: 8px;
}

.footerSocials {
  float: right;
  font-size: 16px !important;
  padding-right: 40px;
}

.footerSocials > * {
  margin-left: 15px;
}
